In [2]:
import pandas as pd

In [3]:
confirmed = pd.read_csv("data/covid_confirmed_usafacts.csv")
confirmed = confirmed.drop(confirmed.iloc[:, 4 : 865], axis=1)
confirmed = confirmed.drop(confirmed.iloc[:, 218 : 234], axis=1)

column_names = confirmed.columns[4:]
column_groups = [column_names[i:i+7] for i in range(0, len(column_names), 7)]

for group in column_groups:
    group_mean = confirmed[group].mean(axis=1).round()
    group_median = confirmed[group].median(axis=1).round()
    group_mode = confirmed[group].mode(axis=1)[0]
    confirmed[f"{group[0]} - {group[-1]} Mean"] = group_mean
    confirmed[f"{group[0]} - {group[-1]} Median"] = group_median
    confirmed[f"{group[0]} - {group[-1]} Mode"] = group_mode

confirmed = confirmed.drop(confirmed.iloc[:, 4 : 218], axis=1)

confirmed

,countyFIPS,County Name,State,StateFIPS,2022-06-01 - 2022-06-07 Mean,2022-06-01 - 2022-06-07 Median,2022-06-01 - 2022-06-07 Mode,2022-06-08 - 2022-06-14 Mean,2022-06-08 - 2022-06-14 Median,2022-06-08 - 2022-06-14 Mode,...,2022-12-07 - 2022-12-13 Mode,2022-12-14 - 2022-12-20 Mean,2022-12-14 - 2022-12-20 Median,2022-12-14 - 2022-12-20 Mode,2022-12-21 - 2022-12-27 Mean,2022-12-21 - 2022-12-27 Median,2022-12-21 - 2022-12-27 Mode,2022-12-28 - 2022-12-31 Mean,2022-12-28 - 2022-12-31 Median,2022-12-28 - 2022-12-31 Mode
0,0,Statewide Unallocated,AL,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,1001,Autauga County,AL,1,15995.0,15978.0,15978.0,16104.0,16095.0,16095.0,...,18752,18820.0,18847.0,18847,18961.0,18961.0,18961.0,18961.0,18961.0,18961.0
2,1003,Baldwin County,AL,1,56717.0,56648.0,56648.0,57203.0,57166.0,57166.0,...,66951,67144.0,67221.0,67221,67496.0,67496.0,67496.0,67496.0,67496.0,67496.0
3,1005,Barbour County,AL,1,5717.0,5714.0,5714.0,5749.0,5748.0,5748.0,...,6989,7002.0,7007.0,7007,7027.0,7027.0,7027.0,7027.0,7027.0,7027.0
4,1007,Bibb County,AL,1,6518.0,6512.0,6512.0,6552.0,6547.0,6547.0,...,7653,7664.0,7668.0,7668,7692.0,7692.0,7692.0,7692.0,7692.0,7692.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,11178.0,11178.0,11178.0,11256.0,11234.0,11234.0,...,12349,12367.0,12374.0,12374,12394.0,12394.0,12394.0,12394.0,12394.0,12394.0
3189,56039,Teton County,WY,56,10229.0,10229.0,10229.0,10400.0,10403.0,10403.0,...,11947,11962.0,11968.0,11968,11997.0,11997.0,11997.0,11997.0,11997.0,11997.0
3190,56041,Uinta County,WY,56,5681.0,5681.0,5681.0,5706.0,5702.0,5702.0,...,6272,6283.0,6287.0,6287,6303.0,6303.0,6303.0,6303.0,6303.0,6303.0
3191,56043,Washakie County,WY,56,2369.0,2369.0,2369.0,2385.0,2371.0,2371.0,...,2701,2712.0,2717.0,2717,2717.0,2717.0,2717.0,2717.0,2717.0,2717.0
3192,56045,Weston County,WY,56,1594.0,1594.0,1594.0,1607.0,1604.0,1604.0,...,1862,1868.0,1871.0,1871,1876.0,1876.0,1876.0,1876.0,1876.0,1876.0

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=c8b9407f-9b55-4516-885c-d1bc9453ac0b' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>

In [4]:
deaths = pd.read_csv("data/covid_deaths_usafacts.csv")
deaths = deaths.drop(deaths.iloc[:, 4 : 865], axis=1)
deaths = deaths.drop(deaths.iloc[:, 218 : 234], axis=1)

column_names = deaths.columns[4:]
column_groups = [column_names[i:i+7] for i in range(0, len(column_names), 7)]

for group in column_groups:
    group_mean = deaths[group].mean(axis=1).round()
    group_median = deaths[group].median(axis=1).round()
    group_mode = deaths[group].mode(axis=1)[0]
    deaths[f"{group[0]} - {group[-1]} Mean"] = group_mean
    deaths[f"{group[0]} - {group[-1]} Median"] = group_median
    deaths[f"{group[0]} - {group[-1]} Mode"] = group_mode

deaths = deaths.drop(deaths.iloc[:, 4 : 218], axis=1)

deaths

,countyFIPS,County Name,State,StateFIPS,2022-06-01 - 2022-06-07 Mean,2022-06-01 - 2022-06-07 Median,2022-06-01 - 2022-06-07 Mode,2022-06-08 - 2022-06-14 Mean,2022-06-08 - 2022-06-14 Median,2022-06-08 - 2022-06-14 Mode,...,2022-12-07 - 2022-12-13 Mode,2022-12-14 - 2022-12-20 Mean,2022-12-14 - 2022-12-20 Median,2022-12-14 - 2022-12-20 Mode,2022-12-21 - 2022-12-27 Mean,2022-12-21 - 2022-12-27 Median,2022-12-21 - 2022-12-27 Mode,2022-12-28 - 2022-12-31 Mean,2022-12-28 - 2022-12-31 Median,2022-12-28 - 2022-12-31 Mode
0,0,Statewide Unallocated,AL,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0,0.0,0.0,0,0.0,0.0,0.0
1,1001,Autauga County,AL,1,216.0,216.0,216.0,217.0,217.0,217.0,...,230,230.0,230.0,230,230.0,230.0,230,230.0,230.0,230.0
2,1003,Baldwin County,AL,1,683.0,683.0,683.0,683.0,683.0,683.0,...,717,717.0,717.0,717,719.0,719.0,719,719.0,719.0,719.0
3,1005,Barbour County,AL,1,99.0,99.0,99.0,99.0,99.0,99.0,...,103,103.0,103.0,103,103.0,103.0,103,103.0,103.0,103.0
4,1007,Bibb County,AL,1,105.0,105.0,105.0,105.0,105.0,105.0,...,108,108.0,108.0,108,108.0,108.0,108,108.0,108.0,108.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,126.0,126.0,126.0,126.0,126.0,126.0,...,134,135.0,135.0,135,136.0,136.0,136,136.0,136.0,136.0
3189,56039,Teton County,WY,56,16.0,16.0,16.0,16.0,16.0,16.0,...,16,16.0,16.0,16,16.0,16.0,16,16.0,16.0,16.0
3190,56041,Uinta County,WY,56,39.0,39.0,39.0,39.0,39.0,39.0,...,43,43.0,43.0,43,43.0,43.0,43,43.0,43.0,43.0
3191,56043,Washakie County,WY,56,44.0,44.0,44.0,44.0,44.0,44.0,...,47,47.0,47.0,47,47.0,47.0,47,47.0,47.0,47.0
3192,56045,Weston County,WY,56,18.0,18.0,18.0,19.0,19.0,19.0,...,22,22.0,22.0,22,22.0,22.0,22,22.0,22.0,22.0

Calculate mean (rounded to integer value) number of new cases/deaths per week and then calculate basic statistics (mean, median, mode) on that data.

Cases:

In [5]:
# Filter only columns that contain the mean value of the weeks
filter_conf_mean = confirmed.drop(confirmed.filter(regex='Median'), axis=1)
filter_conf_mean = filter_conf_mean.drop(filter_conf_mean.filter(regex='Mode'), axis=1)

# Calculate basic statistics (mean, median, mode) on that mean data
mean_tot = filter_conf_mean.iloc[:,4:].mean(axis=1)
filter_conf_mean['Total Mean Mean'] = mean_tot

median_tot = filter_conf_mean.iloc[:,4:].median(axis=1)
filter_conf_mean['Total Mean Median'] = median_tot

mode_tot = filter_conf_mean.iloc[:,4:].mode(axis=1)[0]
filter_conf_mean['Total Mean Mode'] = mode_tot

filter_conf_mean

,countyFIPS,County Name,State,StateFIPS,2022-06-01 - 2022-06-07 Mean,2022-06-08 - 2022-06-14 Mean,2022-06-15 - 2022-06-21 Mean,2022-06-22 - 2022-06-28 Mean,2022-06-29 - 2022-07-05 Mean,2022-07-06 - 2022-07-12 Mean,...,2022-11-16 - 2022-11-22 Mean,2022-11-23 - 2022-11-29 Mean,2022-11-30 - 2022-12-06 Mean,2022-12-07 - 2022-12-13 Mean,2022-12-14 - 2022-12-20 Mean,2022-12-21 - 2022-12-27 Mean,2022-12-28 - 2022-12-31 Mean,Total Mean Mean,Total Mean Median,Total Mean Mode
0,0,Statewide Unallocated,AL,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
1,1001,Autauga County,AL,1,15995.0,16104.0,16227.0,16408.0,16568.0,16810.0,...,18592.0,18612.0,18680.0,18731.0,18820.0,18961.0,18961.0,17892.193548,18255.5,18961.0
2,1003,Baldwin County,AL,1,56717.0,57203.0,57752.0,58410.0,59003.0,59770.0,...,66268.0,66480.0,66730.0,66888.0,67144.0,67496.0,67496.0,63727.354839,65172.0,67496.0
3,1005,Barbour County,AL,1,5717.0,5749.0,5785.0,5837.0,5900.0,5993.0,...,6959.0,6968.0,6980.0,6986.0,7002.0,7027.0,7027.0,6589.580645,6841.0,7027.0
4,1007,Bibb County,AL,1,6518.0,6552.0,6609.0,6665.0,6714.0,6769.0,...,7612.0,7627.0,7637.0,7648.0,7664.0,7692.0,7692.0,7265.709677,7459.5,7692.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,11178.0,11256.0,11452.0,11505.0,11574.0,11644.0,...,12230.0,12269.0,12304.0,12336.0,12367.0,12394.0,12394.0,11987.161290,12110.5,12394.0
3189,56039,Teton County,WY,56,10229.0,10400.0,10575.0,10714.0,10822.0,10928.0,...,11870.0,11891.0,11911.0,11937.0,11962.0,11997.0,11997.0,11456.612903,11573.0,11997.0
3190,56041,Uinta County,WY,56,5681.0,5706.0,5757.0,5788.0,5821.0,5863.0,...,6224.0,6241.0,6255.0,6267.0,6283.0,6303.0,6303.0,6064.709677,6088.0,6303.0
3191,56043,Washakie County,WY,56,2369.0,2385.0,2474.0,2489.0,2484.0,2501.0,...,2666.0,2676.0,2681.0,2695.0,2712.0,2717.0,2717.0,2607.806452,2642.0,2666.0
3192,56045,Weston County,WY,56,1594.0,1607.0,1633.0,1641.0,1646.0,1673.0,...,1845.0,1851.0,1860.0,1861.0,1868.0,1876.0,1876.0,1776.258065,1810.0,1876.0

Deaths:

In [9]:
filter_deaths_mean = deaths.drop(confirmed.filter(regex='Median'), axis=1)
filter_deaths_mean = filter_deaths_mean.drop(filter_deaths_mean.filter(regex='Mode'), axis=1)

# Calculate basic statistics (mean, median, mode) on that mean data
mean_tot_death = filter_deaths_mean.iloc[:,4:].mean(axis=1)
filter_deaths_mean['Total Mean Mean'] = mean_tot_death

median_tot_death = filter_deaths_mean.iloc[:,4:].median(axis=1)
filter_deaths_mean['Total Mean Median'] = median_tot_death

mode_tot_death = filter_deaths_mean.iloc[:,4:].mode(axis=1)[0]
filter_deaths_mean['Total Mean Mode'] = mode_tot_death

filter_deaths_mean

,countyFIPS,County Name,State,StateFIPS,2022-06-01 - 2022-06-07 Mean,2022-06-08 - 2022-06-14 Mean,2022-06-15 - 2022-06-21 Mean,2022-06-22 - 2022-06-28 Mean,2022-06-29 - 2022-07-05 Mean,2022-07-06 - 2022-07-12 Mean,...,2022-11-16 - 2022-11-22 Mean,2022-11-23 - 2022-11-29 Mean,2022-11-30 - 2022-12-06 Mean,2022-12-07 - 2022-12-13 Mean,2022-12-14 - 2022-12-20 Mean,2022-12-21 - 2022-12-27 Mean,2022-12-28 - 2022-12-31 Mean,Total Mean Mean,Total Mean Median,Total Mean Mode
0,0,Statewide Unallocated,AL,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
1,1001,Autauga County,AL,1,216.0,217.0,217.0,217.0,217.0,217.0,...,229.0,230.0,230.0,230.0,230.0,230.0,230.0,224.290323,226.500000,217.0
2,1003,Baldwin County,AL,1,683.0,683.0,683.0,683.0,683.0,683.0,...,716.0,716.0,716.0,717.0,717.0,719.0,719.0,702.032258,703.516129,683.0
3,1005,Barbour County,AL,1,99.0,99.0,99.0,99.0,99.0,99.0,...,103.0,103.0,103.0,103.0,103.0,103.0,103.0,101.451613,101.225806,103.0
4,1007,Bibb County,AL,1,105.0,105.0,105.0,105.0,105.0,105.0,...,108.0,108.0,108.0,108.0,108.0,108.0,108.0,106.516129,107.000000,105.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,126.0,126.0,126.0,126.0,126.0,126.0,...,131.0,131.0,134.0,134.0,135.0,136.0,136.0,129.806452,130.000000,126.0
3189,56039,Teton County,WY,56,16.0,16.0,16.0,16.0,16.0,16.0,...,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.000000,16.000000,16.0
3190,56041,Uinta County,WY,56,39.0,39.0,39.0,39.0,39.0,39.0,...,43.0,43.0,43.0,43.0,43.0,43.0,43.0,41.000000,41.000000,43.0
3191,56043,Washakie County,WY,56,44.0,44.0,44.0,44.0,44.0,44.0,...,47.0,47.0,47.0,47.0,47.0,47.0,47.0,46.161290,47.000000,47.0
3192,56045,Weston County,WY,56,18.0,19.0,19.0,19.0,19.0,19.0,...,22.0,22.0,22.0,22.0,22.0,22.0,22.0,20.548387,21.000000,21.0

In [14]:
world_df = pd.read_csv("data/owid-covid-data-cases.csv", usecols=['location','date','total_cases','new_cases','total_deaths','new_deaths','population'])

# Selecting only the countries that have similar population as the US

pop_similar_usa = ['Indonesia','Pakistan','Nigeria']
dates_used = (world_df['date'] >= '2022-06-01') & (world_df['date'] < '2023-01-01')

world_df = world_df[world_df['location'].isin(pop_similar_usa)]
world_df = world_df.loc[dates_used]
world_df

,location,date,total_cases,new_cases,total_deaths,new_deaths,population
107913,Indonesia,2022-06-01,6055341.0,368.0,156594.0,3.0,275501344.0
107914,Indonesia,2022-06-02,6055645.0,304.0,156600.0,6.0,275501344.0
107915,Indonesia,2022-06-03,6056017.0,372.0,156604.0,4.0,275501344.0
107916,Indonesia,2022-06-04,6056412.0,395.0,156610.0,6.0,275501344.0
107917,Indonesia,2022-06-05,6056800.0,388.0,156615.0,5.0,275501344.0
...,...,...,...,...,...,...,...
179292,Pakistan,2022-12-27,1575651.0,0.0,30635.0,0.0,235824864.0
179293,Pakistan,2022-12-28,1575651.0,0.0,30635.0,0.0,235824864.0
179294,Pakistan,2022-12-29,1575772.0,121.0,30636.0,1.0,235824864.0
179295,Pakistan,2022-12-30,1575772.0,0.0,30636.0,0.0,235824864.0
179296,Pakistan,2022-12-31,1575772.0,0.0,30636.0,0.0,235824864.0

In [20]:
pakistan_df = world_df[world_df['location'].str.contains('Pakistan')].reset_index().drop(['index'], axis = 1)

pakistan_df

,location,date,total_cases,new_cases,total_deaths,new_deaths,population
0,Pakistan,2022-06-01,1530520.0,67.0,30379.0,0.0,235824864.0
1,Pakistan,2022-06-02,1530556.0,36.0,30379.0,0.0,235824864.0
2,Pakistan,2022-06-03,1530556.0,0.0,30379.0,0.0,235824864.0
3,Pakistan,2022-06-04,1530556.0,0.0,30379.0,0.0,235824864.0
4,Pakistan,2022-06-05,1530764.0,208.0,30379.0,0.0,235824864.0
...,...,...,...,...,...,...,...
209,Pakistan,2022-12-27,1575651.0,0.0,30635.0,0.0,235824864.0
210,Pakistan,2022-12-28,1575651.0,0.0,30635.0,0.0,235824864.0
211,Pakistan,2022-12-29,1575772.0,121.0,30636.0,1.0,235824864.0
212,Pakistan,2022-12-30,1575772.0,0.0,30636.0,0.0,235824864.0
213,Pakistan,2022-12-31,1575772.0,0.0,30636.0,0.0,235824864.0

In [31]:
# Pakistan new cases weekly mean - median - mode
temp = {}
for i in range(0, len(pakistan_df.date), 7):
    if (i + 7) > len(pakistan_df.date):
        j = len(pakistan_df.date) - i -1
        temp[f'{pakistan_df.date[i]} - {pakistan_df.date[i + j]} Mean'] = (pakistan_df.new_cases[i:i + j]).mean()
        temp[f'{pakistan_df.date[i]} - {pakistan_df.date[i + j]} Median'] = (pakistan_df.new_cases[i:i + j]).median()
        temp[f'{pakistan_df.date[i]} - {pakistan_df.date[i + j]} Mode'] = (pakistan_df.new_cases[i:i + j]).mode()[0]
    else:
        temp[f'{pakistan_df.date[i]} - {pakistan_df.date[i+7]} Mean'] = (pakistan_df.new_cases[i:i+7]).mean()
        temp[f'{pakistan_df.date[i]} - {pakistan_df.date[i + 7]} Median'] = (pakistan_df.new_cases[i:i + 7]).median()
        temp[f'{pakistan_df.date[i]} - {pakistan_df.date[i + 7]} Mode'] = (pakistan_df.new_cases[i:i + 7]).mode()[0]


pakistan_df_confirmed = pd.DataFrame(temp, index = ['Pakistan'])
pakistan_df_confirmed

,2022-06-01 - 2022-06-08 Mean,2022-06-01 - 2022-06-08 Median,2022-06-01 - 2022-06-08 Mode,2022-06-08 - 2022-06-15 Mean,2022-06-08 - 2022-06-15 Median,2022-06-08 - 2022-06-15 Mode,2022-06-15 - 2022-06-22 Mean,2022-06-15 - 2022-06-22 Median,2022-06-15 - 2022-06-22 Mode,2022-06-22 - 2022-06-29 Mean,...,2022-12-07 - 2022-12-14 Mode,2022-12-14 - 2022-12-21 Mean,2022-12-14 - 2022-12-21 Median,2022-12-14 - 2022-12-21 Mode,2022-12-21 - 2022-12-28 Mean,2022-12-21 - 2022-12-28 Median,2022-12-21 - 2022-12-28 Mode,2022-12-28 - 2022-12-31 Mean,2022-12-28 - 2022-12-31 Median,2022-12-28 - 2022-12-31 Mode
Pakistan,60.714286,50.0,0.0,79.857143,89.0,0.0,147.571429,151.0,98.0,382.0,...,0.0,0.0,0.0,0.0,23.571429,0.0,0.0,40.333333,0.0,0.0

In [39]:
# Pakistan new deaths weekly mean - median - mode
temp = {}
for i in range(0, len(pakistan_df.date), 7):
    if (i + 7) > len(pakistan_df.date):
        j = len(pakistan_df.date) - i -1
        temp[f'{pakistan_df.date[i]} - {pakistan_df.date[i + j]} Mean'] = (pakistan_df.new_deaths[i:i + j]).mean()
        temp[f'{pakistan_df.date[i]} - {pakistan_df.date[i + j]} Median'] = (pakistan_df.new_deaths[i:i + j]).median()
        temp[f'{pakistan_df.date[i]} - {pakistan_df.date[i + j]} Mode'] = (pakistan_df.new_deaths[i:i + j]).mode()[0]
    else:
        temp[f'{pakistan_df.date[i]} - {pakistan_df.date[i+7]} Mean'] = (pakistan_df.new_deaths[i:i+7]).mean()
        temp[f'{pakistan_df.date[i]} - {pakistan_df.date[i + 7]} Median'] = (pakistan_df.new_deaths[i:i + 7]).median()
        temp[f'{pakistan_df.date[i]} - {pakistan_df.date[i + 7]} Mode'] = (pakistan_df.new_deaths[i:i + 7]).mode()[0]


pakistan_df_deaths = pd.DataFrame(temp, index = ['Pakistan'])
pakistan_df_deaths

,2022-06-01 - 2022-06-08 Mean,2022-06-01 - 2022-06-08 Median,2022-06-01 - 2022-06-08 Mode,2022-06-08 - 2022-06-15 Mean,2022-06-08 - 2022-06-15 Median,2022-06-08 - 2022-06-15 Mode,2022-06-15 - 2022-06-22 Mean,2022-06-15 - 2022-06-22 Median,2022-06-15 - 2022-06-22 Mode,2022-06-22 - 2022-06-29 Mean,...,2022-12-07 - 2022-12-14 Mode,2022-12-14 - 2022-12-21 Mean,2022-12-14 - 2022-12-21 Median,2022-12-14 - 2022-12-21 Mode,2022-12-21 - 2022-12-28 Mean,2022-12-21 - 2022-12-28 Median,2022-12-21 - 2022-12-28 Mode,2022-12-28 - 2022-12-31 Mean,2022-12-28 - 2022-12-31 Median,2022-12-28 - 2022-12-31 Mode
Pakistan,0.0,0.0,0.0,0.285714,0.0,0.0,0.428571,0.0,0.0,1.285714,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.0

In [22]:
indonesia_df = world_df[world_df['location'].str.contains('Indonesia')].reset_index().drop(['index'], axis = 1)

indonesia_df

,location,date,total_cases,new_cases,total_deaths,new_deaths,population
0,Indonesia,2022-06-01,6055341.0,368.0,156594.0,3.0,275501344.0
1,Indonesia,2022-06-02,6055645.0,304.0,156600.0,6.0,275501344.0
2,Indonesia,2022-06-03,6056017.0,372.0,156604.0,4.0,275501344.0
3,Indonesia,2022-06-04,6056412.0,395.0,156610.0,6.0,275501344.0
4,Indonesia,2022-06-05,6056800.0,388.0,156615.0,5.0,275501344.0
...,...,...,...,...,...,...,...
209,Indonesia,2022-12-27,6717395.0,803.0,160560.0,9.0,275501344.0
210,Indonesia,2022-12-28,6718090.0,695.0,160574.0,14.0,275501344.0
211,Indonesia,2022-12-29,6718775.0,685.0,160583.0,9.0,275501344.0
212,Indonesia,2022-12-30,6719327.0,552.0,160593.0,10.0,275501344.0
213,Indonesia,2022-12-31,6719815.0,488.0,160612.0,19.0,275501344.0

In [32]:
# Indonesia new cases weekly mean - median - mode
temp = {}
for i in range(0, len(indonesia_df.date), 7):
    if (i + 7) > len(indonesia_df.date):
        j = len(indonesia_df.date) - i -1
        temp[f'{indonesia_df.date[i]} - {indonesia_df.date[i + j]} Mean'] = (indonesia_df.new_cases[i:i + j]).mean()
        temp[f'{indonesia_df.date[i]} - {indonesia_df.date[i + j]} Median'] = (indonesia_df.new_cases[i:i + j]).median()
        temp[f'{indonesia_df.date[i]} - {indonesia_df.date[i + j]} Mode'] = (indonesia_df.new_cases[i:i + j]).mode()[0]
    else:
        temp[f'{indonesia_df.date[i]} - {indonesia_df.date[i+7]} Mean'] = (indonesia_df.new_cases[i:i+7]).mean()
        temp[f'{indonesia_df.date[i]} - {indonesia_df.date[i + 7]} Median'] = (indonesia_df.new_cases[i:i + 7]).median()
        temp[f'{indonesia_df.date[i]} - {indonesia_df.date[i + 7]} Mode'] = (indonesia_df.new_cases[i:i + 7]).mode()[0]


indonesia_df_confirmed = pd.DataFrame(temp, index = ['Indonesia'])
indonesia_df_confirmed

,2022-06-01 - 2022-06-08 Mean,2022-06-01 - 2022-06-08 Median,2022-06-01 - 2022-06-08 Mode,2022-06-08 - 2022-06-15 Mean,2022-06-08 - 2022-06-15 Median,2022-06-08 - 2022-06-15 Mode,2022-06-15 - 2022-06-22 Mean,2022-06-15 - 2022-06-22 Median,2022-06-15 - 2022-06-22 Mode,2022-06-22 - 2022-06-29 Mean,...,2022-12-07 - 2022-12-14 Mode,2022-12-14 - 2022-12-21 Mean,2022-12-14 - 2022-12-21 Median,2022-12-14 - 2022-12-21 Mode,2022-12-21 - 2022-12-28 Mean,2022-12-21 - 2022-12-28 Median,2022-12-21 - 2022-12-28 Mode,2022-12-28 - 2022-12-31 Mean,2022-12-28 - 2022-12-31 Median,2022-12-28 - 2022-12-31 Mode
Indonesia,383.857143,372.0,304.0,621.285714,574.0,520.0,1274.857143,1220.0,1167.0,1875.714286,...,1225.0,1367.285714,1297.0,809.0,813.142857,803.0,468.0,644.0,685.0,552.0

In [37]:
# Indonesia new deaths weekly mean - median - mode
temp = {}
for i in range(0, len(indonesia_df.date), 7):
    if (i + 7) > len(indonesia_df.date):
        j = len(indonesia_df.date) - i -1
        temp[f'{indonesia_df.date[i]} - {indonesia_df.date[i + j]} Mean'] = (indonesia_df.new_deaths[i:i + j]).mean()
        temp[f'{indonesia_df.date[i]} - {indonesia_df.date[i + j]} Median'] = (indonesia_df.new_deaths[i:i + j]).median()
        temp[f'{indonesia_df.date[i]} - {indonesia_df.date[i + j]} Mode'] = (indonesia_df.new_deaths[i:i + j]).mode()[0]
    else:
        temp[f'{indonesia_df.date[i]} - {indonesia_df.date[i+7]} Mean'] = (indonesia_df.new_deaths[i:i+7]).mean()
        temp[f'{indonesia_df.date[i]} - {indonesia_df.date[i + 7]} Median'] = (indonesia_df.new_deaths[i:i + 7]).median()
        temp[f'{indonesia_df.date[i]} - {indonesia_df.date[i + 7]} Mode'] = (indonesia_df.new_deaths[i:i + 7]).mode()[0]



indonesia_df_deaths = pd.DataFrame(temp, index = ['Indonesia'])
indonesia_df_deaths

,2022-06-01 - 2022-06-08 Mean,2022-06-01 - 2022-06-08 Median,2022-06-01 - 2022-06-08 Mode,2022-06-08 - 2022-06-15 Mean,2022-06-08 - 2022-06-15 Median,2022-06-08 - 2022-06-15 Mode,2022-06-15 - 2022-06-22 Mean,2022-06-15 - 2022-06-22 Median,2022-06-15 - 2022-06-22 Mode,2022-06-22 - 2022-06-29 Mean,...,2022-12-07 - 2022-12-14 Mode,2022-12-14 - 2022-12-21 Mean,2022-12-14 - 2022-12-21 Median,2022-12-14 - 2022-12-21 Mode,2022-12-21 - 2022-12-28 Mean,2022-12-21 - 2022-12-28 Median,2022-12-21 - 2022-12-28 Mode,2022-12-28 - 2022-12-31 Mean,2022-12-28 - 2022-12-31 Median,2022-12-28 - 2022-12-31 Mode
Indonesia,4.714286,5.0,6.0,5.428571,4.0,3.0,5.428571,5.0,3.0,4.0,...,23.0,23.428571,24.0,24.0,15.571429,15.0,9.0,11.0,10.0,9.0

In [34]:
nigeria_df = world_df[world_df['location'].str.contains('Nigeria')].reset_index().drop(['index'], axis = 1)

nigeria_df

,location,date,total_cases,new_cases,total_deaths,new_deaths,population
0,Nigeria,2022-06-01,256028.0,0.0,3143.0,0.0,218541216.0
1,Nigeria,2022-06-02,256113.0,85.0,3143.0,0.0,218541216.0
2,Nigeria,2022-06-03,256113.0,0.0,3143.0,0.0,218541216.0
3,Nigeria,2022-06-04,256148.0,35.0,3143.0,0.0,218541216.0
4,Nigeria,2022-06-05,256148.0,0.0,3143.0,0.0,218541216.0
...,...,...,...,...,...,...,...
209,Nigeria,2022-12-27,266381.0,0.0,3155.0,0.0,218541216.0
210,Nigeria,2022-12-28,266381.0,0.0,3155.0,0.0,218541216.0
211,Nigeria,2022-12-29,266381.0,0.0,3155.0,0.0,218541216.0
212,Nigeria,2022-12-30,266381.0,0.0,3155.0,0.0,218541216.0
213,Nigeria,2022-12-31,266381.0,0.0,3155.0,0.0,218541216.0

In [35]:
# Nigeria new cases weekly mean - median - mode

temp = {}
for i in range(0, len(nigeria_df.date), 7):
    if (i + 7) > len(nigeria_df.date):
        j = len(nigeria_df.date) - i -1
        temp[f'{nigeria_df.date[i]} - {nigeria_df.date[i + j]} Mean'] = (nigeria_df.new_cases[i:i + j]).mean()
        temp[f'{nigeria_df.date[i]} - {nigeria_df.date[i + j]} Median'] = (nigeria_df.new_cases[i:i + j]).median()
        temp[f'{nigeria_df.date[i]} - {nigeria_df.date[i + j]} Mode'] = (nigeria_df.new_cases[i:i + j]).mode()[0]
    else:
        temp[f'{nigeria_df.date[i]} - {nigeria_df.date[i+7]} Mean'] = (nigeria_df.new_cases[i:i+7]).mean()
        temp[f'{nigeria_df.date[i]} - {nigeria_df.date[i + 7]} Median'] = (nigeria_df.new_cases[i:i + 7]).median()
        temp[f'{nigeria_df.date[i]} - {nigeria_df.date[i + 7]} Mode'] = (nigeria_df.new_cases[i:i + 7]).mode()[0]



nigeria_df_confirmed = pd.DataFrame(temp, index = ['Nigeria'])
nigeria_df_confirmed

,2022-06-01 - 2022-06-08 Mean,2022-06-01 - 2022-06-08 Median,2022-06-01 - 2022-06-08 Mode,2022-06-08 - 2022-06-15 Mean,2022-06-08 - 2022-06-15 Median,2022-06-08 - 2022-06-15 Mode,2022-06-15 - 2022-06-22 Mean,2022-06-15 - 2022-06-22 Median,2022-06-15 - 2022-06-22 Mode,2022-06-22 - 2022-06-29 Mean,...,2022-12-07 - 2022-12-14 Mode,2022-12-14 - 2022-12-21 Mean,2022-12-14 - 2022-12-21 Median,2022-12-14 - 2022-12-21 Mode,2022-12-21 - 2022-12-28 Mean,2022-12-21 - 2022-12-28 Median,2022-12-21 - 2022-12-28 Mode,2022-12-28 - 2022-12-31 Mean,2022-12-28 - 2022-12-31 Median,2022-12-28 - 2022-12-31 Mode
Nigeria,28.428571,0.0,0.0,25.285714,0.0,0.0,43.857143,0.0,0.0,35.285714,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
# Nigeria new deaths weekly mean - median - mode

temp = {}
for i in range(0, len(nigeria_df.date), 7):
    if (i + 7) > len(nigeria_df.date):
        j = len(nigeria_df.date) - i -1
        temp[f'{nigeria_df.date[i]} - {nigeria_df.date[i + j]} Mean'] = (nigeria_df.new_deaths[i:i + j]).mean().round()
        temp[f'{nigeria_df.date[i]} - {nigeria_df.date[i + j]} Median'] = (nigeria_df.new_deaths[i:i + j]).median().round()
        temp[f'{nigeria_df.date[i]} - {nigeria_df.date[i + j]} Mode'] = (nigeria_df.new_deaths[i:i + j]).mode()[0]
    else:
        temp[f'{nigeria_df.date[i]} - {nigeria_df.date[i+7]} Mean'] = (nigeria_df.new_deaths[i:i+7]).mean().round()
        temp[f'{nigeria_df.date[i]} - {nigeria_df.date[i + 7]} Median'] = (nigeria_df.new_deaths[i:i + 7]).median().round()
        temp[f'{nigeria_df.date[i]} - {nigeria_df.date[i + 7]} Mode'] = (nigeria_df.new_deaths[i:i + 7]).mode()[0]



nigeria_df_deaths = pd.DataFrame(temp, index = ['Nigeria'])
nigeria_df_deaths

,2022-06-01 - 2022-06-08 Mean,2022-06-01 - 2022-06-08 Median,2022-06-01 - 2022-06-08 Mode,2022-06-08 - 2022-06-15 Mean,2022-06-08 - 2022-06-15 Median,2022-06-08 - 2022-06-15 Mode,2022-06-15 - 2022-06-22 Mean,2022-06-15 - 2022-06-22 Median,2022-06-15 - 2022-06-22 Mode,2022-06-22 - 2022-06-29 Mean,...,2022-12-07 - 2022-12-14 Mode,2022-12-14 - 2022-12-21 Mean,2022-12-14 - 2022-12-21 Median,2022-12-14 - 2022-12-21 Mode,2022-12-21 - 2022-12-28 Mean,2022-12-21 - 2022-12-28 Median,2022-12-21 - 2022-12-28 Mode,2022-12-28 - 2022-12-31 Mean,2022-12-28 - 2022-12-31 Median,2022-12-28 - 2022-12-31 Mode
Nigeria,0.714286,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0